  <ul class="list-unstyled">
    <li>I цикл: 5 – 10 июля;</li>
    <li>II цикл: 10 – 15 июля;</li>
    <li>III цикл: 16 – 20 июля;</li>
    <li>IV цикл: 21 – 26 июля;</li>
    <li>V цикл: 26 – 31 июля;</li>
    <li>VI цикл: 1 – 5 августа.</li>
  </ul>
