{% load static %}
{% now "Y" as current_year %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ЛШ{{current_year}}{% block extra_title %}{% endblock %}
{% if environment == "staging" %}
  {{ version }} at {{ environment }}
{% endif %}
  </title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <style type="text/css">
    /* Move down content due to fixed 50px tall navbar */
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>

  <!-- Include our own style -->
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  {#<link rel="stylesheet" href="{% static 'css/sticky_footer.css' %}">#}

{% if environment != "local" %}
  <script
    src="https://js.sentry-cdn.com/cdca28d756704c43a36841e136b9011e.min.js"
    crossorigin="anonymous"
  ></script>
{% endif %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

  {% if request.user.userprofile.has_goodies %}
  <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/dj.selectable.css' %}" type="text/css" media="all">
  <script src="{% static 'js/jquery-ui-1.10.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.dj.selectable.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endif %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body>
  {% if not user.is_superuser %}
  {% include "_tracking.html" %}
  {% endif %}

  {% block navigation %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">#ЛШ{{ current_year }}</a>
      </div><!-- //navbar-header -->
      <div class="navbar-collapse collapse">
        {% if request.user.is_authenticated %}
        {#<ul class="nav navbar-nav">#}
        {#<li><a href="{% url 'help' %}">На помощь!</a></li>#}
        {#</ul>#}

        {# nabor tools #}
        {% if request.user.userprofile.is_nabor %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Набор <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'intake:fresh_apps' %}">Свежак</a></li>
              <li><a href="{% url 'intake:suspicious_apps' %}">Сомнительные</a></li>
              <li><a href="{% url 'intake:photo_change_requested_apps' %}">На смену фото</a></li>
              <li><a href="{% url 'intake:blacklist' %}">Чёрный список</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'intake:passed_apps' %}">Прошедшие группу &laquo;Набор&raquo;</a></li>
              <li><a href="{% url 'intake:workshop_accepted_apps' %}">Одобренные мастерской</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'intake:rejected_apps' %}">Отказники</a></li>
              <li><a href="{% url 'intake:workshop_declined_apps' %}">Те, от которых отказалась мастерская</a></li>
              {#<li><a href="{% url 'logout' %}">Выйти</a></li>#}
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="GET" action="{% url 'intake:app_search' %}">
          <div class="controls" id="app-search-box" style="display: none">
            <input class="form-control autocompletewidget form-control" data-selectable-allow-new="true"
              data-selectable-type="text" data-selectable-url="/selectable/intake-applicationcaselookup/"
              id="id_search_0" maxlength="400" name="search_0" type="text" placeholder="Имя, Фамилия или email" />
            <input class="form-control hiddeninput form-control" data-selectable-type="hidden" id="id_search_1"
              maxlength="400" name="search_1" type="hidden" />
          </div>
          <button type="submit" id="submit_search" class="btn btn-default" style="display:none"><span
              class="glyphicon glyphicon-search"></span></button>
          <a id="btn_search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
        </form>

        {% endif %}

        {% if request.user.userprofile.is_curator %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Моя мастерская <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for k, v in request.user.userprofile.workshop_programs.items %}
              <li><a href="{% url 'curators:apps_list' v.workshop_slug v.program_slug %}">{{ v.workshop_name }}:
                  {{ v.program_name }}</a></li>
              {% endfor %}
              {#<li class="disabled"><a href="#">Сводка по мастерской</a></li>#}
              {% if request.user.userprofile.is_beta_tester %}
              <li><a href="{% url 'curators:apps_list_tables' %}">Все заявки табличками</a></li>
              <li><a href="{% url 'curators:email_templates_control' %}">Шаблоны писем</a></li>
              {% endif %}
              <li><a href="{% url 'curators:stats' %}">Списки по мастерской</a></li>
              {#<li><a href="{% url 'curators:control_panel' %}">Контрольная панель (BETA)</a></li>#}
              <li class="divider"></li>
              <li><a href="{% url 'curators:homework_control' %}">Вступительные задания</a></li>
              {#<li class="divider"></li>#}
              {#<li class="disabled"><a href="#">Поиск (пока не работает)</a></li>#}
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="GET" action="{% url 'curators:app_search' %}">
          <div class="controls" id="curator-app-search-box" style="display: none">
            <input class="form-control autocompletewidget form-control" data-selectable-allow-new="true"
              data-selectable-type="text" data-selectable-url="/selectable/intake-curatorapplicationcaselookup/"
              id="id_search_42" maxlength="400" name="search_42" type="text" placeholder="Имя, Фамилия или email" />
            <input class="form-control hiddeninput form-control" data-selectable-type="hidden" id="id_search_1"
              maxlength="400" name="search_1" type="hidden" />
          </div>
          <a id="btn_curator_search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
        </form>

        {% endif %}

        {% if request.user.userprofile.is_super_nabor %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">СуперНабор <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'intake:list_all_wp_super_nabor' %}">Все мастерские</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
        {% if request.user.userprofile.is_guru %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сайт <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'guru:check_user' %}">Check user</a></li>
              <li><a href="{% url 'guru:curators_list' %}">Curators</a></li>
              <li><a href="{% url 'guru:wp_checkup' %}">Чекап Мастерских/Программ</a></li>
              <li><a href="{% url 'guru:assignments_list' %}">Show assignments</a></li>
              <li><a href="{% url 'guru:bucks_stats' %}">Bucks stats</a></li>
              <li><a href="{% url 'guru:handymanship' %}">Квартирьерство</a></li>
              <li><a href="{% url 'guru:shkololo' %}">Принятая школота</a></li>
              <li><a href="{% url 'guru:upload_blacklist' %}">Загрузка ЧС для Набора</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'guru:bots' %}">Бот</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'guru:spam_list' %}">Спам-лист</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.email }} <b
                class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile' %}">Профиль</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'auth0-logout' %}">Выйти</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <!-- If not logged in, display a login link/button -->
        <div class="navbar-form navbar-right">
          <a href="/login/auth0" class="btn btn-success">
            <span class="glyphicon glyphicon-arrow-right"></span> Войти</a>
          {#          <button type="button" class="btn btn-success" data-toggle="modal" data-target=".login-or-register"><span class="glyphicon glyphicon-arrow-right"></span>Войти</button>#}

        </div>


        {% endif %}
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>
  {% if not request.user.is_authenticated %}{% include "account/_login_modal.html" %}{%endif%}
  {% endblock navigation %}


  <div class="jumbotron">
    <div class="container">
      {% if messages %}
      {% for msg in messages %}
      {% if msg.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        {% else %}
        <div class="alert alert-{{ msg.tags }} alert-dismissable role=" alert">
          {% endif %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% block jumbotron_content %}
        {% endblock jumbotron_content %}
        {# DEBUG #}
        {#<h1>{% user_display user %} {{ user.email }}</h1>#}
      </div>
    </div><!-- /jumbotron -->

    <div class="container">
      {% block content %}
      <div class="row">
        {% block main_content %}
        {% endblock main_content %}
      </div>
      {% endblock content %}

      <hr>

    </div><!-- /container -->

    <footer class="footer">
      {% block footer %}
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-0 col-xs-0"></div>
          <div class="col-md-3 col-sm-4 col-xs-3">
            <p class="text-muted text-right">&copy; Летняя школа {{ current_year }}</p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-3" style="margin-top: 17px;">
            <a href="//gitlab.com/letnyayashkola/intake-platform/-/tree/{{ version }}" target="_blank" alt="Release {{ version }}">
              <img alt="Release {{ version }}"
                src="//img.shields.io/badge/OpenSource-{{ version }}-orange?style=flat-square&logo=gitlab" />
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6" style="margin-top: 5px;">
            <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
              target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50"
                alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png" /></a>
          </div>
        </div>
      </div>
      {% endblock footer %}
    </footer>

    {% block scripts %}

  {% if request.user.userprofile.has_goodies %}
    {% if request.user.userprofile.is_nabor %}
    <script>
      var search_box = document.getElementById('app-search-box');
      var submit_search = document.getElementById('submit_search');
      document.getElementById('btn_search').onclick = function () {
        search_box.style.display = "block";
        submit_search.style.display = "block";
        this.style.display = "none";

      };
      $(document).ready(function () {
        $('input[name=search_0]').bind('djselectableselect', function (event, ui) {
          $(this).parents("form").submit();
        });
      });
    </script>
    {% endif %}

    {% if request.user.userprofile.is_curator %}
    <script>
      var curator_search_box = document.getElementById('curator-app-search-box');
      document.getElementById('btn_curator_search').onclick = function () {
        curator_search_box.style.display = "block";
        this.style.display = "none";
      };
      $(document).ready(function () {
        $('input[name=search_42]').bind('djselectableselect', function (event, ui) {
          $(this).parents("form").submit();
        });
      });
    </script>
    {% endif %}
  {% else %}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endif %}

    {% endblock scripts %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>

</html>
