{% comment %}<h2>От несовершеннолетних нам нужны ещё документы</h2>
<p>Несовершеннолетним участникам требуется убедить родителей заполнить договор на участие в школе и подтвердить, что они вас отпускают. Эти документы нужны к началу школы и их надо заполнять только когда вы уже точно знаете, что едете. Но можно начать ознакамливаться с ними уже здесь.
<ul>
<li><a href="http://nabor.letnyayashkola.org/static/docs/ZVLN-2017.doc">
Заявление на имя директора ЛШ</a></li>
<li><a href="http://nabor.letnyayashkola.org/static/docs/Dogovor_s_roditelem_nesovershennoletnego_uchastnika-2017.pdf">
Родительский договор об условиях организованного отдыха ребёнка</a></li>
</ul>
</p>
{% endcomment %}
