{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block extra_head %}
{% endblock %}

{% block jumbotron_content %}
<h2>Собираем информацию о регалиях</h2>
<p>Пора, может, и снять те дипломы со стенки (на самом деле нет).</p>
{% endblock %}

{% block main_content %}
  <div class="col-lg-12">
    {% crispy form %}
  </div>
{% endblock main_content %}
