{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block jumbotron_content %}
  <h1>Информация о родителях</h1>
  <p>Про несовершеннолетних участников нам надо знать ещё немного дополнительной информации. На всякий случай</p>
{% endblock %}

{% block main_content %}
{% crispy form %}

{% endblock main_content %}
