{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
{{ wizard.form.media }}
{% endblock %}

{% block jumbotron_content %}
  {% if wizard.form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ошибка</strong> при заполнении этого шага
    </div>
  {% endif %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100" style="width: 51%;">
        51%
  </div>
</div>
  <h1>Шаг 7: Мотивация</h1>
  <p>У вас, вероятно, есть стойкая причина поехать к нам, да? Кстати, а кто вообще рассказал вам про нас?</p>
{% endblock %}

{% block main_content %}
<div class="col-lg-4">
<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}
{{ wizard.form }}

{% include "intake/wizard/_navigation.html" %}

</form>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{#<script type="text/javascript">#}
{#$(document).ready(function() {#}
  {#$('##}
{#});#}
{#</script>#}
{% endblock scripts %}
