{%comment %}<h2>Старший состав на этом направлении</h2>
<small>Флешмоб &laquo;Добавляем препов и кураторов!&raquo;. Удиви директора, удиви коллег, удиви себя!!!111один.</small>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation">{% include 'intake/curators/_wp_curators_tab.html' %}</li>
  <li role="presentation">{% include 'intake/curators/_wp_prepods_tab.html' %}</li>
  <li role="presentation" class="disabled">{% include 'intake/curators/_wp_vip_tab.html' %}</li>
{% include 'intake/curators/elders/_add_elder_dropdown.html' %}
</ul>{% endcomment %}
