{% extends "intake/curators/apps_list.html" %}

  {% block slackers_toggle %}
  <p><a href="{% url 'curators:apps_list' workshop_slug program_slug %}" class="btn btn-default">Показать все заявки, даже тех, кто не сдал задание</a></p>

  <h3>В списке снизу только заявки, приславшие вступительное задание!</h3>
  {% endblock slackers_toggle %}
