{% extends "base.html" %}


{% block jumbotron_content %}
<h2>&laquo;Контрольная панель куратора&raquo;</h2>
{% endblock %}

{% block main_content %}
    <p><a class="btn btn-danger" href="{% url 'curators:homework_control' %}">Загрузить/Редактировать/Удалить вступительное задание</a></p>

<h2>Мастерские</h2>
<div class="row">
  <div class="col-md-12">

    <ul class="nav nav-pills nav-justified" id="programs-info-tab">
    {% for wp, data in this_user_workshop_programs.items %}
      <li role="presentation">
        <a href="#{{ wp }}" class="btn btn-secondary">{{ data.meta.workshop_slug }}/{{ data.meta.program_slug }}</a>
      </li>
    {% endfor %}
    </ul>

    <div class="tab-content">
    {% for wp, data in this_user_workshop_programs.items %}
      <div class="tab-pane" id="{{ wp }}">
        <h3>{{ data.meta.workshop_name }}</h3>
        <h4>{{ data.meta.program_name}}</h4>
        <p><a href="http://letnyayashkola.org/{{ u.wpc.workshop_slug }}/">Описание мастерской на нашем информационном портале</a></p>

        <p>Всего анект после фильтра набора: {{ data.apps|length }}</p>

        <h4>Анкеты</h4>
        {% for a in data.apps %}
          {% with a.short_info as u %}
          <div class="row">
            <div class="col-md-2">
              <div class="thumbnail">
                <img src="{{ u.photo.photo_absolute_url }}">
              </div>
            </div>

            <div class="col-md-5">
              <h4>{{ u.last_name }} {{ u.first_name }} <span class="text-muted">{{ u.middle_name }}</span></h4>
              <dt><small>{{ u.location }}</small></dt>
              <dd><small>{{ u.birthdate }} (полных лет: {{ u.age }})</small></dd>
              <dt>Мастерская/программа <small>(а вдруг ты забыл)</small></dt>
                <dd><a href="http://letnyayashkola.org/{{ u.wpc.workshop_slug }}/">{{ u.wpc.workshop_slug }}</a>/{{ u.wpc.program_slug }}</dd>

                <dt>Заявка создана</dt>
                <dd>{{ a.created }}<br/>{{ a.created|timesince }} назад</dd>
                <br/>
                <a href="{% url 'curators:app_details' a.pk %}">Вся анкета</a>
            </div>

            <div class="col-md-5">
              <div class="thumbnail">
                <div class="caption">
                  {% if a.has_complete_homework %}
                    <dd><abbr title="yoba">hui</abbr> Вступительное задание {{ a.get_homework.date_uploaded }}
                    <a href="{% url 'curators:app_download_homework' a.pk a.get_homework.pk %}">Скачать</a>
                    </dd>

                  {% endif %}

                  <h4>Controls <small>пока тут ничего не пашет</small></h4>
                </div>

                <a href="#" class="btn btn-default btn-block">Принять</a>

              </div>
            </div>
          </div>
          {% endwith %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}

<script>
  $('#programs-info-tab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>

<script>
$(document).ready(function() {
  $('#programs-info-tab a:first').tab('show');
});
</script>

{% endblock %}
