{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
  <h2>Управление вступительными заданиями</h2>
  <p>На этой странице можно просмотреть или заменить вступительные задания, которые будут автоматически отправляться вашим участникам, после того, как те проходят группу набора.</p>
  <p>
  Если тут чего-то не хватает, напишите <a href="https://t.me/sarahconnor">Саре в телеграм</a> чтобы разобраться с этим.
  </p>
  <p>У вас есть возможность редактировать задания следующим программам:
  <ol>
  {% for w_p in w_metas %}
    <li>{{ w_p.workshop_name }}: &laquo;{{ w_p.program_name }}&raquo; (<a href="http://letnyayashkola.org/{{ w_p.workshop_slug }}">страница на letnyayashkola.ORG)</a></li>
  {% empty %}
  <li>КАЖЕТСЯ, у вас вообще нет доступа к программам. Такое обычно бывает если сайт знает что вы куратор, но не знает какой программы. Напишите <a href="https://t.me/sarahconnor">Саре в телеграм</a> чтобы разобраться с этим
  {% endfor %}
  </ol>
</p>
{% endblock %}

{% block main_content %}
  <h3>Текущие вступительные задания:</h3>
  {% comment %}
  <h1>ВООБЩЕ ПРЕЖДЕ ЧЕМ ЗАЛИВАТЬ СЮДА ЗАДАНИЯ ЕСЛИ НАБОР ЗАКРЫТ СНАЧАЛА УТОЧНИТЕ ЧТО ЭТО НЕ БУДЕТ ЗАЗРЯ</h1>
  <h1>МОЖЕТ ОКАЗАТЬСЯ ТАК ЧТО ПОТОМ ПРИДЁТСЯ ДЕЛАТЬ ЭТО СНОВА. ПОБЕРЕГИТЕ СЕБЕ НЕРВЫ</h1>
  {% endcomment %}
  <ol>
  {% for hw in w_homeworks %}
    {% with hw.workshop_program as w_p %}
      <li>{{ w_p.workshop_name }}: &laquo;{{ w_p.program_name }} ({{ w_p.workshop_slug }}/{{ w_p.program_slug }}: <a href="{{ hw.file_absolute_url }}">файл с заданием</a> от {{ hw.date_uploaded }}</li>
    {% endwith %}
  {% endfor %}
  </ol>

  <h3>Залить новое задание</h3>
  {% crispy form %}

{% endblock %}
