<li>
  <div class="timeline-badge info"><i class="glyphicon glyphicon-hand-left"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Вы завели аккаунт</h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ case.user.date_joined }}</small></p>
      <p>Начали заполнять анкету, выбирать мастерскую, вспоминать как вы нас нашли и думать, как вы до нас доберётесь.<p>
    </div>
  </div>
</li>
{# vim: set ft=htmldjango #}
