<li class="timeline-inverted">
{% if homework.is_complete %}
<div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Вступительное задание выполнено</h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ homework.date_uploaded|date:"d E Y H:i" }}</small></p>
    </div>
    <div class="timeline-body">
      <p>Привет, если вы читаете этот текст, значит ваша заявка и вступительное задание долетело до координаторов мастерской.</p>

<p>Финальное решение для тех, кто подал заявку в первую волну набора будет принято до 1 июня (по крайней мере, если вы не слишком затянули с выполнением вступительного).</p>

<p>А тех, кто подал заявку во вторую волну, будут рассматривать в реальном времени вплоть до 20 июня.</p>

<p>Если вы вдруг заволновались, что вас потеряли, на странице мастерской указаны контакты — можно вступить в диалог!</p>

      <p class="text-muted">
      Можно, для справки,
      <a href="{% url 'intake:assignment_download' %}">скачать само задание</a> и/или
      <a href="{% url 'intake:assignment_my_response_download' %}">ваш ответ на него</a>.</p>
    </div>
  </div>
{% else %}
  <div class="timeline-badge primary"><i class="glyphicon glyphicon-hand-right"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Вступительное задание</h4>
      {# TODO: дату когда оно было отправлено #}
      {#<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> если в задание не указано иного, то на выполнение у вас 10 дней018 г.</small></p>#}
    </div>
    <div class="timeline-body">
      <p>Надо выполнить вступительное задание</p>
      <p><a href="{% url 'intake:assignment_download' %}" class="btn btn-primary">Скачать задание</a>
      <a href="{% url 'intake:assignment_response' %}" class="btn btn-default">Загрузить ответ</a></p>
      <p><small class="text-muted"> если в задании не указано иного, то на выполнение задания у вас 10 дней.</small></p>
    </div>
  </div>
{% endif %}
</li>
