<li>
  <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Мастерская вас берёт</h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ case.bucks.accepted_by_workshop|date:"d E Y H:i" }}</small></p>
    </div>
    <div class="timeline-body">
      <p>Вы прошли отбор. Периодически проверяйте эту страничку и читайте про нас на <a href="http://letnyayashkola.org">другом нашем сайте</a> и <a href="http://vk.com/shkola_rr">в сообществе вконтакте</a>.</p>
    </div>
  </div>
</li>
