{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
  <h1>Message LSH-2024 chat</h1>
  <p>Sends update as a bot to LSH chats</p>
{% endblock %}

{% block main_content %}
  <pre>{{ msg_example }}</pre>
  {% crispy form %}
{% endblock %}
