{% extends "base.html" %}

{% block jumbotron_content %}
<h1>Bucks</h1>

<p>У Трумана на столе была табличка с надписью &laquo;The buck stops here&raquo;. Это из покера. В текущей реализации всего этого ЛШ-безобразия существенную роль играют так называемые "фишечки" (bucks). Они в каком-то смысле выполняют роль тегов и все обладают свойствами <b>когда поставили</b>, <b>на кого навесили</b> и <b>кто я блять такое</b>. На этой странице приводится для справки общая статистика фишечек и их примерное значение. Это статсы. Они просто для лулзов.</p>
{% endblock %}

{% block main_content %}
  <p>Кстати, всего у нас {{ total_bucks.count }} разных фишек ({{ total_bucks.distinct }} различных) на {{ total_users }} пользователей.</p>
  {% for slug, count, latest in bucks %}
    {% if forloop.first %}
    <table class="table table-striped responsive">
      <thead>
      <tr>
        <th>buck slug</th>
        <th>buck count</th>
        <th>latest buck</th>
      </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
          <td>
            {{ slug }}
          </td>
          <td>
            {{ count }}
          </td>
          <td>
            <abbr title="{{ latest }}">{{ latest.when }}</abbr>
          </td>
        </tr>
    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% endblock %}
