{% extends "base.html" %}

{% block jumbotron_content %}
<h2>Кураторы на сайте</h2>
<p>Тут пока рид-онли список пользователей (с их емейлами) и связки этих пользователей с мастерскими.</p>
<h3>Кого-то не хватает?</h3>
<form class='form-inline' method="get" action="{% url 'guru:add_curator' %}">
  <div class='form-group'>
    <label for='emailField' class='col-3-md'>
      Почта:
    </label>
    <input id='emailField' class='form-control col-3-md' type='email' required value='{{ user_email }}' placeholder='yoba@yo.ba' name='email'>
    <input type='submit' value='Добавить, плокс' class='btn btn-primary'>
  </div>
</form>
<p class="text-muted"><small>Protip: чтобы поменять программы существующего куратора, можно тоже ввести его емейл и жамкнуть батон</small></p>
{% endblock %}

{% block main_content %}
  <table class="table table-stripped table-hover">
    <thead>
      <th>Почта</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Что курирует</th>
    </thead>
    <tbody>
    {% for c in curators %}
      <tr>
        <td>{{ c.email }}</td>
        <td>{{ c.first_name}}</td>
        <td>{{ c.last_name}}</td>
        <td>
          <ul class="list-unstyled">
          {% for program in c.workshop_programs.values %}
            <li>
              <abbr title="{{ program.workshop_name }}: {{ program.program_name }}">
              {{ program.workshop_slug }}/{{ program.program_slug }}
              </abbr>
            </li>
          {% endfor %}
            <li>(<a href="{% url 'guru:add_curator'%}?email={{ c.email }}">edit</a>)</li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

