{% extends "base.html" %}

{% block jumbotron_content %}
<h1>Мастерские и их программы</h1>

<p>В этой абличке та инфа которую сайт знает про мастерские. Мы её берём с инфосайта. Именно так её видят участники когда выбирают мастерскую. Ниже сравнение с тем что в базе инфосайта и в базе набора. <b>В идеале, расхождений между ними быть не должно</b>
</p>
{% endblock %}

{% block main_content %}
  <p>Кстати, всего сайт знает о {{ total_wp_count }} разных мастерских-программ.</p>
    <table class="table table-striped responsive">
      <thead>
      <tr>
        <th>wp</th>
        <th>Мастерская</th>
        <th>Программа</th>
        <th>Берёт школоту?</th>
      </tr>
      </thead>
      <tbody>
      {% for wp_tag, them_w, them_p, them_is_shkol, my_w, my_p, my_is_shkol in comparison_tuples %}
        <tr>
          <td>{{ wp_tag }}</td>
          <td>
            <b>info-site:</b>{{ them_w }}<br>
            <b>naborsite:</b>{{ my_w }}<br>
          </td>
          <td>
            <b>info-site:</b>{{ them_p }}<br>
            <b>naborsite:</b>{{ my_p }}<br>
          </td>
          <td>
            <b>info-site:</b>{{ them_is_shkol }}<br>
            <b>naborsite:</b>{{ my_is_shkol }}<br>
          </td>
        </tr>
    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% endblock %}
