{% extends "base.html" %}
{% load static %}

{% block jumbotron_content %}
  <h1>Здравствуй, товарищ!</h1>
  <p>Судя по всему, у тебя есть возможность насладиться привилегиями.
  </p>
  {% if profile.is_curator %}
    <p>Чтобы подключиться к управлению заявками какой-то мастерской, надо немного подождать и всё будет. По идее, людей из волшебного списка, который у нас был, должно подклюать самих, но если этого не произошло, стоит <a href="mailto:sarah.connor@letnyayashkola.org">написать об этом Саре</a>.</p>
  {% endif %}
  <p>
{% endblock %}

{% if lock_app %}
  {# Вообще это не дело, надо редиректить на другую страницу #}
  {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" >
  {% endblock %}
{% endif %}

{% block main_content %}
<div class="row">
  <h2>Профиль</h2>
  <p>Здесь содержится условно неизменная информация. Фотка отображается как аватарка в ваших комментариях, будет лучше, если она квадратная. Старайтесь держать информацию о себе актуальной.</p>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ photo.photo_absolute_url }}">
      <a class="btn btn-info btn-block" href="{% url 'intake:upload_photo' %}">Сменить фотку</a>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>~const</h3>
        <dl>
          <dt>Имя</dt>
            <dd>{{ profile.first_name }}</dd>
          <dt>Фамилия</dt>
            <dd>{{ profile.last_name }}</dd>
          <dt>Отчество</dt>
            <dd>{{ profile.middle_name }}</dd>
          <dt>Место жительства</dt>
            <dd>{{ profile.location }}</dd>
          <dt>Возраст</dt>
            <dd>{{ profile.age }}</dd>
        </dl>

        {% if profile.has_all_basic_fields  %}
        </dl>
        <a
            class="btn btn-default btn-block"
	    href="{% url 'intake:provide_basic_info' %}"
	>
	    Дополнить информацию
	</a>
        {% else %}
        <h4 class="profile-required-field">обязательно заполни</h4>
        <a
            class="btn btn-default btn-block"
	    href="{% url 'intake:provide_basic_info' %}"
	>
            Заполнить информацию
	</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
