<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Добавить <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'curators:curator_add' workshop_slug program_slug  %}">Добавить куратора</a></li>
    <li><a href="{% url 'curators:prepod_add' workshop_slug program_slug  %}">Добавить препода</a></li>
    <li class="disabled"><a href="#">Добавить &laquo;Золотого лектора&raquo&raquo;</a></li>
  </ul>
</div>
