{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}

{% block extra_head %}
  <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {{ form.media }}

  <script src="{% static 'js/knockout-3.3.0.js' %}"></script>
{% endblock %}

{% block jumbotron_content %}
<h2>Добавить Куратора</h2>
<p>Направление {{ workshop_slug }}/{{ program_slug }}</p>
{% if not has_me %}
<button data-bind="click: fillMeIn">Да это же я сам!</button>
{% endif %}

{% endblock %}

{% block main_content %}
<div class="col-md-12">
  {% crispy form %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('#LecDateInput').datetimepicker({
    "format": "YYYY/MM/DD",
    "pickTime": false,
    "weekStart": 1,
    "startDate": "2019/07/01",
    "endDate": "2019/08/11",
    "pickTime": false,
    "language": "ru-RU"
});
</script>
{% if not has_me %}
  <script type="text/javascript">
  // Overall viewmodel for this screen, along with initial state
  function AppViewModel() {
    {% for key in me.iterkeys %}
      this.my_{{ key }} = ko.observable();
    {% endfor %}

      // Operations
      this.fillMeIn = function() {
        {% for key, val in me.items %}
          {#this.my_{{ key }}("{{ val }}");#}
          $('#id_{{ key }}').val("{{ val }}");
        {% endfor %}
        $('#id_apps_access').attr('checked', true);
      };
  }

  ko.applyBindings(new AppViewModel());
  </script>
{% endif %}
{% endblock %}
