{% extends "base.html" %}
{% load static %}

{% block extra_title %} Преподы {{ workshop_slug }}/{{ program_slug }}{% endblock %}

{% block jumbotron_content %}
  <h2>{{workshop_name|title}}<small>/{{program_name}}</small></h2>

  {% include 'intake/curators/_apps_inactive_tabs.html' %}

<h2>Старший состав</h2>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active">{% include 'intake/curators/_wp_curators_tab.html' %}</li>
  <li role="presentation">{% include 'intake/curators/_wp_prepods_tab.html' %}</li>
  <li role="presentation" class="disabled">{% include 'intake/curators/_wp_vip_tab.html' %}</li>
{% include 'intake/curators/elders/_add_elder_dropdown.html' %}
</ul>


{% endblock %}

{% block content %}
<div class="container">
  <h2>Закреплённые за направлением кураторы</h2>
  <h4>{{ workshop_name }}:{{ program_name }}</h4>
  <p>Кнопка "исправить" пока не работает, если надо что-то поменять, придётся удалить и потом создать нового.</p>
{% for curator in curators %}
  {% with curator.full_info as info %}

  <!-- Deletion modal -->
  <div class="modal" id="myDeleteModal{{ curator.pk }}" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    <form action="{% url "curators:curator_delete" workshop_slug program_slug curator.pk %}" method="post">{% csrf_token %}
        <div class="modal-body">
            <p>Информация про куратора "{{ curator }}" будет удалена. Это то, что мы хотим?</p>
        </div><!-- /modal-body -->

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Да, удалить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть это окно</button>
        </div>
  </form>
      </div> <!-- /modal-content -->
    </div>
  </div>

  {% if forloop.first %}<div class="row">
  {% elif forloop.counter0|divisibleby:"2" %}</div><div class="row">{% endif %}
    <div class="col-md-3">
      <div class="thumbnail">
      {% if info.photo %}
        <img class="img-responsive img-rounded" src="{{ info.photo.photo_absolute_url }}">
      {% else %}
        <img class="img-responsive img-rounded" src="{% static 'img/default-user-image.png' %}">
      {% endif %}

        <div class="caption">
          <h4>{{ info.last_name }} {{ info.first_name }}</h4>
          <h4 class="text-muted">{{ info.middle_name }}
          {% if info.is_tent_friendly %}
            <small class="glyphicon glyphicon-tent"></small>
          {% endif %}</h4>
          <dl>
            <dt><a href="mailto:{{ info.email }}">{{ info.email }}</a></dt>
            {% for c_label, c_val in info.contacts_data %}
              <dd><strong>{{ c_label}}:</strong> {{ c_val }}</dd>
            {% endfor %}
          </dl>

            <a href="#" role="button" class="btn btn-default disabled">
              Исправить
            </a>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myDeleteModal{{ curator.pk }}">
              Удалить
            </button>

        </div>
      </div><!-- /thumbnail -->
    </div><!-- /col-md-3 -->

    <div class="col-md-3">
      <dl>
        <dt>На ЛШ</dt>
        <dd>Приезжает {{ info.arrival_date|date:"d E Y" }}</dd>
        <dd>Уезжает {{ info.departure_date|date:"d E Y" }}</dd>
        <dd><strong>Жильё</strong>: {{ info.housing }}</dd>
      </dl>
      <hr/>
      <h4>Комментарий</h4>
      <p>{{ info.comment }}</p>
    </div>
  {% endwith %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% include "intake/_paginator.html" %}

</div>
{% endblock %}
