{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}ЛШ{{ now.year }} Вход{% endblock %}
{% block extra_head %}
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.login {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
.login .form-heading {
  margin-bottom: 10px;
}

.login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.login .form-control:focus {
  z-index: 2;
}
.login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.red {
  color: red;
}
</style>
{% endblock %}


{% block content %}
  <div class="container">
    {% crispy form %}
  </div>
{% endblock %}

{% block extra_scripts %}
<script>
$(document).ready(function() {
  $('.alert').removeClass('alert-error').addClass('alert-danger').addClass('login');
});
</script>
{% endblock %}
