{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Сменить пароль{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Сменить пароль</button>
    </form>
</div>
{% endblock %}
