{% load admin_urls %}
{% for c, c_opts in comments %}
  {% if forloop.first %}
    <div class="container">
    <div class="row">
      <h2>Комментарии к анкете</h2>
  {% endif %}

    <div class="media">
      {% if user.is_superuser %}
          <a href="{% url c_opts|admin_urlname:'delete' c.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
      {% endif %}
  {% if c.is_autocomment %}
      {% if c.author_photo %}
      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle" src="{{ c.author_photo.photo_absolute_url }}" width=16 height=16 />
        </a>
      </div>
      {% endif %}
      <div class="media-body">
        <p class="media-heading">{{ c.author.first_name }} {{ c.author.last_name }} <small>{{ c.when }}</small>: <span class="text-muted">{{ c.comment }}</span></p>
      </div>
    </div>
  {% else %}
      {% if c.author_photo %}
      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle" src="{{ c.author_photo.photo_absolute_url }}" width=64 height=64 />
        </a>
      </div>
      {% endif %}

      <div class="media-body">
        <h3 class="media-heading">{{ c.author.first_name }} {{ c.author.last_name }} <small>{{ c.when }}</small></h3>
        <pre class="pre-comment">{{ c.comment }}</pre>
      </div>

    </div>
  {% endif %}

  {% if forloop.last %}
    </div>
    </div>
  {% endif %}
{% endfor %}
