<div class="modal fade" id="modal_returnapp" tabindex="-1" role="dialog" aria-labelledby="modal_returnapp_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_returnapp_label">Причина возврата</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action='{% url "intake:return_app" %}' id="form_return_app">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="control-label">Анкета:</label>
            <input type="text" class="form-control" id="recipient-name">
            <input type="hidden" id="a_pk" name="a_pk">
            <input type="hidden" id="back_url" name="back_url">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Пояснение:</label>
            <textarea class="form-control" id="message-text" placeholder="Это сообщение будет отправлено участнику как причина почему анкету вернули" name="message_text" rows="10">Вас приветствует группа Набора

Ваша заявка не соответствует ...
Просьба изменить ...

Для внесения изменений войдите на сайт http://nabor.letnyayashkola.org

  Удачи
  ЛШ2024</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="submit_btn">Вперёд</button>
      </div>
    </div>
  </div>
</div>
