{% extends "base.html" %}


{% block jumbotron_content %}
<h1>Результат поиска</h1>
<p>Самые старые заявки идут первыми. Всегда отображается не более десяти результатов. Для поиска по email подстрока должна содержать символ собачки ("@").</p>
{% endblock %}

{% block content %}
  {% include "intake/staff/_app_list_reject_modal.html" %}

<div class="container">
{% for a in applications %}
  {% with a.short_info as u %}
<div class="row{% if a.is_blacklisted %} bg-danger{% endif %}">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="{{ u.photo.photo_absolute_url }}">
    </div>
  </div>

  <div class="col-md-8">
    <div class="row">

      <div class="col-md-5">
        {% if a.is_blacklisted %}<h3><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Возможно,&nbsp;чёрный&nbsp;список!</h3>
        <h3><span class="bg-warning">{{ a.blacklist_category }}</span></h3>
        {% endif %}

{% if a.has_clones %}
  <h3><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Атака&nbsp;клонов!</h3>
  <ul>
  {% for clone_case in a.fetch_clone_cases %}
    <li>
      <small>
        {% with clone_case.full_info as clone %}
        <p>{{ clone.full_name }} ({{clone.wpc.workshop_slug}}/{{clone.wpc.program_slug}}).
        <a href="{% url 'intake:app_detail' clone_case.pk %}">
          Заявка #{{clone_case.pk}}
        </a>
        </p>
        {% endwith %}
      </small>
    </li>
  {% endfor %}
  </ul>
{% endif %}

        <h4>{{ u.last_name }} {{ u.first_name }} <span class="text-muted">{{ u.middle_name }}</span></h4>
        <dt><small>{{ u.location }}</small></dt>
        <dd><small>Возраст: {{ u.age }} (ДР {{ u.birthdate }})</small></dd>
          <dt>Мастерская/программа</dt>
          <dd><a href="http://letnyayashkola.org/{{ u.wpc.workshop_slug }}/">{{ u.wpc.workshop_slug }}</a>/{{ u.wpc.program_slug }}</dd>

          <dt>Заявка создана</dt>
          <dd>{{ a.created }}<br/>{{ a.created|timesince }} назад</dd>
      </div>

      <div class="col-md-3">
        <h4>Служебная информация</h4>
        <dt>pk: {{ a.pk }}</dt>
        <dt>userpk: {{ a.user.pk }}</dt>
        <dt>Метки</dt>
        {% for b in a.bucks_list|dictsort:"when" %}
          <dd><abbr title="{{ b.when }}">{{ b.slug }}</abbr></dd>
        {% endfor %}
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-md-6">
          Почта <a href="mailto:{{ u.email }}">{{ u.email }}</a>
          <hr/>
      {% if a.has_homework %}
      <h4>Задание II-го тура
        <a class="btn btn-xs btn-default" href="{{ a.get_homework.assignment_absolute_url }}">Само задание</a>
      </h4>
      {% if a.has_complete_homework %}
        Выполнено {{ a.get_homework.date_uploaded }}
        <a class="btn btn-xs btn-default" href="{{ a.get_homework.response_absolute_url }}">Скачать файл ответа</a></dd>
      {% endif %}
      {% endif %}
      </div>
      <div class="col-md-2">
          <a href="{% url 'intake:app_detail' a.pk %}" class="btn btn-success">Вся анкета</a>
          {% include "intake/staff/_control_buttons.html" %}
      </div>
    </div>
  </div>

</div>

<hr>
  {% endwith %}
{% empty %}
<div class="row">
  <div class="col-md-6">
Не найдено заявок
  </div>
</div>
{% endfor %}

</div>
{% endblock %}

{% block extra_scripts %}
  {% include "intake/staff/_app_list_reject_modal.js" %}
{% endblock extra_scripts %}
