{% extends "base.html" %}


{% block jumbotron_content %}
<h1>Чёрный список</h1>
<p>Тут мы смотрим на чёрный список и думаем как так вышло.</p>

  <table class="table table-stripped table-hover">
    <thead>
      <th>Категория</th>
      <th>Кто</th>
      <th>Что теперь?</th>
    </thead>
    <tbody>
    {% for cat in twat_categories %}
      <tr>
        <td>{{ cat.name }}</td>
        <td>{{ cat.description|safe }}</td>
        <td>{{ cat.limitations }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block main_content %}
  <table class="table table-stripped table-hover">

    <thead>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Категория</th>
      <th>Причина</th>
      <th>Кто добавил</th>
      <th>Последняя мастерская</th>
    </thead>
    <tbody>
{% for twat in twats %}
    <tr>
      <td>{{ twat.first_name }}</td>
      <td>{{ twat.last_name }}</td>
      <td>{{ twat.category }}</td>
      <td>{{ twat.reason|default:"(нет информации)" }}</td>
      <td>{{ twat.who_added_this_twat|default:"(нет информации)" }}</td>
      <td>{{ twat.last_known_workshop|default:"(нет информации)" }}</td>
    </tr>
{% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_scripts %}
{% endblock extra_scripts %}
