{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block extra_head %}
  <script src="{% static 'js/knockout-3.3.0.js' %}"></script>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/intake/workshops.js' %}"></script>
{% endblock %}

{% block jumbotron_content %}
  {% with application as a %}
  <h2>Заменить заявке мастерскую</h2>
  <p>Сейчас {{ a }} стучится в <strong>{{ a.user.workshoppetitionconnection }}</strong>.</p>
  <p>Ммм.. При изменении мастерской мотивация выбора мастерской останется такой же, как была.</p>
{% endwith %}
{% endblock %}

{% block main_content %}

  <h3>Поменять мастерскую:</h3>
  <select class="input-sm" data-bind="options: $root.workshop_programs, optionsText: 'wp_name', value: selected_wp"></select>

  <div data-bind="with: selected_wp">
  {% crispy form %}
  </div>

{% endblock %}
