{% extends "base.html" %}

{% block jumbotron_content %}
<h1>Мастерские и их программы</h1>

<p>Привет 👋🏻. По ссылке на каждой строчке ты можешь перейти в заявки мастерской с теми же правами как "обычные" кураторы этих мастерских/програм.</p>
{% endblock %}

{% block main_content %}
  <p>Кстати, всего сайт знает о {{ total_wp_count }} разных мастерских-программ.</p>
    <table class="table table-striped responsive">
      <thead>
      <tr>
        <th>wp</th>
        <th>Мастерская</th>
        <th>Программа</th>
        <th>ссылка</th>
      </tr>
      </thead>
      <tbody>
      {% for ws, wn, ps, pn in workshop_programs %}
        <tr>
          <td><b>{{ ws }}::{{ ps }}</b></td>
          <td>
            {{ wn }}
          </td>
          <td>
            <i>{{ pn }}</i>
          </td>
          <td>
            <a href="{% url 'curators:apps_list' ws ps %}">{{ wn }}:{{ pn }}</a>
          </td>
        </tr>
    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% endblock %}
