{% extends "base.html" %}

{% block jumbotron_content %}
<h1>&laquo;Отказники&raquo;</h1>
<p>Пока что тут просто сбрасываются все те заявки, которым мы отказываем. Присылайте свои идеи.</p>
<p>Пока что отсюда никак нельзя убрать заявку. Это очень неудобно, но будет скоро исправлено.</p>
{% endblock %}

{% block content %}
  {% include "intake/staff/_apps_list.html" %}
{% endblock %}
