{% extends "base.html" %}

{% block jumbotron_content %}
<h1>Сомнительные заявки</h1>
<p>Тут, как и в "Свежаке", самые старые заявки идут первыми. Присылайте свои идеи.</p>
<p>Пока что отсюда никак нельзя убрать заявку. Это очень неудобно, но будет скоро исправлено.</p>
{% endblock %}

{% block content %}
  {% include "intake/staff/_apps_list.html" %}
{% endblock %}
