{% extends "intake/staff/fresh_apps.html" %}

{% block jumbotron_content %}
  <h1>Заявки<small>/{{ workshop_name }}</small></h1>
  <p>Самые старые заявки идут первыми. <a href="?page=last">сразу на последнюю страницу</a></p>

<ul class="nav nav-tabs">
  <li role="presentation">
    <a href="{% url 'intake:fresh_apps' %}">Всей толпой</a>
  </li>
  <li role="presentation" class="dropdown active">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
    Свежак по мастерским <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {% for slug, name in workshops.items %}
      <li>
        <a href="{# url 'intake:workshop_fresh_apps_specific' slug #}">
Должна быть ссылка на анкеты {{ slug }} / {{ name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>

{% endblock %}
