{% extends "base.html" %}

{% block jumbotron_content %}
  <h1>{{ current_w_slug|title }}<small>/отклонённые заявки</h1>
  <p>Последние изменённые идут первыми.</p>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Выбрать мастерскую
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for w_slug, w_name in workshops.items %}
      {% if forloop.first %}
      <li role="presentation">
        <a
          role="menuitem"
          tabindex="-1"
          href="{% url 'intake:workshop_declined_apps' %}">
          <em>Все отклонённые заявки со всех мастерских</em>
        </a>
      </li>
      <li role="presentation" class="divider"></li>
      {% endif %}
      <li role="presentation">
        <a
          role="menuitem"
          tabindex="-1"
          href="{% url 'intake:workshop_declined_apps_specific' w_slug %}">
          {% if w_slug == current_w_slug %}<strong>{% endif %}
          {{ w_name }} ({{ w_slug }})
          {% if w_slug == current_w_slug %}// МЫ ЗДЕСЬ</strong>{% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
  {% include "intake/staff/_apps_list.html" %}
{% endblock %}
